# camelot-py
# pdfplumber
# tabula-py
# pymupdf 
numpy
pandas
lxml
ipykernel
requests
# rich
# xmltodict
docling==2.73.1 # must be this version since 2.74.0 extract some uri and got error
docling[vlm]
sentence-transformers
openpyxl
torch
transformers
tqdm
accelerate 
bitsandbytes
mlx-lm
pytest
openpyxl
xlrd
beautifulsoup4